@import "tailwindcss";

@theme {
  --color-surface: #FBF9F6;
  --color-surface-low: #F7F4EE;
  --color-surface-card: #FFFFFF;
  --color-surface-dim: #EAE3D2;
  --color-surface-container: #EFEEEB;
  --color-surface-container-low: #F5F3F0;
  --color-surface-container-high: #EAE8E5;
  --color-primary: #0E2439;
  --color-primary-dark: #081624;
  --color-secondary: #805521;
  --color-secondary-gold: #C69249;
  --color-secondary-container: #F5E7D3;
  --color-on-surface: #1B1C1A;
  --color-on-surface-variant: #505459;
  --color-outline-light: #E2DED5;
  --color-sand: #F3EFE6;
  --color-tertiary: #14B8A6;

  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Plus Jakarta Sans", system-ui, -apple-system, sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #FBF9F6;
    color: #1B1C1A;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
